* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../imgs/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
}
nav {
  background-color: #6a4835;
  height: 70px;
}

.menu {
  max-width: 1140px;
  margin: 0 auto;
}

.logo {
  display: block;
  color: #fff;
  font-size: 150%;
  float: left;
  margin-top: 20px;
  padding: 0 2%;
}

.main-menu {
  float: right;
  list-style-type: none;
  padding: 0 2%;
}

.main-menu li {
  display: inline-block;
  margin-left: 30px;
  margin-top: 20px;
}

.main-menu li a {
  color: #fff;
  padding: 8px 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: border-bottom 0.3s, color 0.3s;
}

.main-menu li a:hover {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #fff;
}

.menu-icon {
  position: absolute;
  float: right;
  right: 0;
  margin-top: 20px;
  cursor: pointer;
  display: none;
  padding: 0 2%;
}

.menu-icon i {
  font-size: 150%;
  color: #fff;
}

.contact-form {
  margin-top: 100px;
  display: inline-block;
  width: 100%;
}

.contact-form-input {
  float: left;
  padding: 20px 60px;
  width: 60%;
  background-color: #fff;
  border: #6a4835 solid 5px;
  border-radius: 30px;
}

.contact-form-description {
  bottom: 0;
  float: left;
  width: 40%;
  /* background-color: #6a4835; */
  text-align: center;
  padding: 20px;
}

.contact-form-input label {
  display: inline-block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  border: none;
  font-size: 20px;
  padding: 5px;
  background-color: #6a4835;
  color: #fff;
  border-radius: 5px;
}

@media only screen and (max-width: 767px) {
  .menu-icon {
    display: inline-block;
  }
  .main-menu {
    float: left;
    margin-top: 10px;
    padding-bottom: 20px;
    display: none;
    background-color: #6a4835;
    width: 100%;
  }
  .main-menu li {
    display: block;
  }
  .main-menu li a {
    display: block;
    border: 0;
    padding: 5px 0;
  }

  .contact-form-input {
    width: 100%;
  }

  .contact-form-description {
    margin-top: 50px;
    width: 100%;
  }
}
